/* @import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Inter:wght@700&family=Roboto:wght@400;500;900&display=swap'); */

.landingpageimg1 {
    width: 50vw;
    height: 100vh;
    position: absolute;
    background-image: url('../../Assessts/Images/Landingpageimg1.svg');
    background-size: cover;
    background-repeat: repeat-x;
    left: 0px;
}

.landingpageh1 {
    position: absolute;
    width: 40.22vw;
    height: 12.802vh;
    left: 3.588vw;
    top: 76.365vh;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 3.2vw;
    line-height: 6.983vh;
    /* or 78px */
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.landingpageh2 {
    position: absolute;
    width: 19.502vw;
    height: 2.328vh;
    left: 3.183vw;
    top: 7.25vh;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.62vw;
    line-height: 2.686vh;
    /* or 30px */
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.loginbtn {
    position: absolute;
    /* width: 49px;
height: 14px;
left: 486px;
top: 88px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 8.449vw;
    height: 3.76vh;
    left: 25.40vw;
    top: 6.714vh;

    background: #72DB73;
    border-radius: 1.9vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.926vw;
    line-height: 1.522vh;
    /* or 17px */

    letter-spacing: 0.02em;

    color: #FFFFFF;

}